* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-uzb-0.1.pc.in -text
/apertium-uzb.uzb.lexc -text
/apertium-uzb.uzb.rlx -text
/apertium-uzb.uzb.twol -text
/autogen.sh -text
/configure.ac -text
dev/editdist.py -text
dev/spellrelax.twol -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
